<!-- BEGIN HEADER -->
<div class="page-header" style="width:100%">
    <!-- BEGIN HEADER TOP -->
    <div class="page-header-top">
        <div class="container">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <a href="" ng-if="fullScreenFlag">
                    <img src="../../assets/admin/layout3/img/black-chess-icon.png" alt="logo" class="logo-default">
                </a>
            </div>
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="menu-toggler"></a>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">




                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    <li class="dropdown dropdown-user dropdown-dark">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <img alt="" class="img-circle" src="../assets/admin/layout3/img/user.png">
                            <span class="username username-hide-mobile">{{username}}</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li class="divider">
                            </li>
                            <li>
                                <a href="#/rooms">
                                    <i class="icon-lock"></i>Preferences</a>
                            </li>
                            <li>
                                <a href="#/" ng-click="logOut()">
                                    <i class="icon-key"></i>Log Out</a>
                            </li>
                        </ul>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->
                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
    </div>
    <!-- END HEADER TOP -->
    <!-- BEGIN HEADER MENU -->
    <div class="page-header-menu">
        <div class="container">

            <!-- BEGIN MEGA MENU -->
            <!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
            <!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
            <div class="hor-menu ">
                <ul class="nav navbar-nav">

                </ul>
            </div>
            <!-- END MEGA MENU -->
        </div>
    </div>
    <!-- END HEADER MENU -->
</div>
<!-- END HEADER -->
<!-- BEGIN PAGE CONTAINER -->
<div class="page-container">
    <!-- BEGIN PAGE HEAD -->
    <div class="page-head">
        <div class="container">
            <!-- BEGIN PAGE TITLE -->

            <!-- END PAGE TITLE -->
            <!-- BEGIN PAGE TOOLBAR -->
            <div class="page-toolbar">
            </div>
            <!-- END PAGE TOOLBAR -->
        </div>
    </div>
    <!-- END PAGE HEAD -->
    <!-- BEGIN PAGE CONTENT -->
    <div class="page-content">
        <div class="container">
            <!-- BEGIN PAGE BREADCRUMB -->
            <!-- END PAGE BREADCRUMB -->
            <!-- BEGIN PAGE CONTENT INNER -->
            <div class="row margin-top-10">
                <div class="col-md-5 col-sm-12">
                    <!-- BEGIN PORTLET-->
                    <div class="portlet light ">
                        <div class="portlet-title">
                            <div class="caption caption-md">
                                <i class="icon-bar-chart theme-font hide"></i>
                                <span class="caption-subject theme-font bold uppercase">Game board</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div style="max-width:400px">


                                <canvas id="canvas0" width="400" height="400" color="red" style="background-color: #e5e5e5;"></canvas>



                            </div>
                        </div>
                    </div>
                    <!-- END PORTLET-->
                </div>
                <div class="col-md-6 col-sm-12">
                    <!-- BEGIN PORTLET-->
                    <div class="portlet light ">
                        <div class="portlet-title">
                            <div class="caption caption-md">
                                <i class="icon-bar-chart theme-font hide"></i>
                                <span class="caption-subject theme-font bold uppercase">Console</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="chat-form" style="border-radius: 5px; margin-top:0px;">
                                <div class="input-cont col-sm-7" style="padding-left:0px; margin-right: 0px;">
                                    <input ng-if="turn=='w'" class="form-control" type="text" placeholder="White's turn to move! You are {{color}}." readonly/>
                                    <input ng-if="turn=='b'" class="form-control" type="text" placeholder="Black's turn to move! You are {{color}}." readonly/>
                                </div>
                                <div>
                                    <button type="submit" class="btn default" ng-click="newGame()">New Game</button>
                                    <button type="button" class="btn default" ng-click="goToRooms()">Lobby</button>
                                </div>
                            </div>
                        </div>

                        <div class="portlet-title" style="margin-top:15px">
                            <div class="caption caption-md">
                                <i class="icon-bar-chart theme-font hide"></i>
                                <span class="caption-subject theme-font bold uppercase">Chat</span>
                            </div>
                            <div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default" href="" ng-click="eraseChat()">

                                    <img style="margin-bottom:5px; margin-left:1px; margin-top:1px;" alt="" class="img-circle" src="../assets/admin/layout3/img/delete-icon.png">
                                </a>
                            </div>
                        </div>

                        <div class="portlet-body">
                            <div style="max-height:175px; min-height:175px; background:#e9eff3; border-radius: 5px; padding-bottom: 10px; padding-top: 5px;">
                                <div id="chatDiv" style="max-height:170px; min-height:170px; overflow:auto; background:#e9eff3; border-radius: 5px; padding-bottom: 10px; padding-top: 5px;">
                                    <ul class="chatbox">
                                        <li ng-repeat="message in messages">{{ message.from }}: {{ message.content }}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="chat-form" style="border-radius: 5px; margin-top:5px;">
                                <div class="input-cont">
                                    <input class="form-control" type="text" placeholder="Type a message here..." ng-model="message" />
                                </div>
                                <div class="btn-cont">
                                    <span class="arrow">
										</span>
                                    <a href="" class="btn blue icn-only" ng-click="addMessage()">
                                        <i class="fa fa-check icon-white"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- END PORTLET-->
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                </div>
                <div class="col-md-6 col-sm-12">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                </div>
                <div class="col-md-6 col-sm-6">
                </div>
            </div>
            <!-- END PAGE CONTENT INNER -->
        </div>
    </div>
    <!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER -->
<!-- BEGIN FOOTER -->
<div class="page-footer">
    <div class="container">
        2015 &copy; Chess Master Pro. All Rights Reserved.
    </div>
</div>
<div class="scroll-to-top">
    <i class="icon-arrow-up"></i>
</div>







