<!-- BEGIN HEADER -->
<div class="page-header" style="width:100%">
    <!-- BEGIN HEADER TOP -->
    <div class="page-header-top">
        <div class="container">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <a href="index.html" ng-if="fullScreenFlag">
                    <img src="../../assets/admin/layout3/img/black-chess-icon.png" alt="logo" class="logo-default">
                </a>
            </div>

            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    <li class="dropdown dropdown-user dropdown-dark">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <img alt="" class="img-circle" src="../assets/admin/layout3/img/User-Profile-Icon.png">
                            <span class="username username-hide-mobile">{{username}}</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li class="divider">
                            </li>
                            <li>
                                <a href="#/preferences/rooms">
                                    <i class="icon-lock"></i>Preferences</a>
                            </li>
                            <li>
                                <a href="#/" ng-click="logOutRooms()">
                                    <i class="icon-key"></i>Log Out</a>
                            </li>
                        </ul>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->
                </ul>
            </div>
        </div>
    </div>




    <!-- END HEADER TOP -->
    <!-- BEGIN HEADER MENU -->
    <div class="page-header-menu">

    </div>
    <!-- END HEADER MENU -->





</div>
<!-- END HEADER -->
<!-- BEGIN PAGE CONTAINER -->
<div class="page-container">
    <!-- BEGIN PAGE HEAD -->
    <div class="page-head">
        <div class="container">
            <!-- BEGIN PAGE TITLE -->

            <!-- END PAGE TITLE -->
            <!-- BEGIN PAGE TOOLBAR -->
            <div class="page-toolbar">
            </div>
            <!-- END PAGE TOOLBAR -->
        </div>
    </div>
    <!-- END PAGE HEAD -->
    <!-- BEGIN PAGE CONTENT -->
    <div class="page-content">
        <div class="container">
            <!-- BEGIN PAGE BREADCRUMB -->
            <!-- END PAGE BREADCRUMB -->
            <!-- BEGIN PAGE CONTENT INNER -->
            <div class="row margin-top-10">
                <div class="col-md-6 col-sm-12">
                    <!-- BEGIN PORTLET-->
                    <div class="portlet light ">
                        <div class="portlet-title">
                            <div class="caption caption-md">
                                <i class="icon-bar-chart theme-font hide"></i>
                                <span class="caption-subject theme-font bold uppercase">Chess Rooms</span>
                            </div>
                            <div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default" href="" ng-click="refreshRooms()">

                                    <img style="margin-bottom:5px; margin-left:1px" alt="" class="img-circle" src="../assets/admin/layout3/img/refresh3.png">
                                </a>
                            </div>
                        </div>
                        <div class="portlet-body">

                            <div class="table-scrollable table-scrollable-borderless">
                                <table class="table table-hover table-light">
                                    <thead>
                                        <tr class="uppercase">
                                            <th colspan="2">
                                                Room Name
                                            </th>
                                            <th>
                                                #Players
                                            </th>
                                            <th>
                                                Player Names
                                            </th>
                                            <th>

                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="r in rooms">
                                        <tr>
                                            <td class="fit">
                                                <img ng-if="r.name == 'room1' " class="user-pic" src="../../assets/admin/layout3/img/disability_sign.gif">
                                                <img ng-if="r.name == 'room2' " class="user-pic" src="../../assets/admin/layout3/img/handicap.svg.png">
                                                <img ng-if="r.name !== 'room2' && r.name !== 'room1'" class="user-pic" src="../../assets/admin/layout3/img/handicap.svg.png">
                                            </td>
                                            <td>
                                                <p class="primary-link">{{r.name}}</p>
                                            </td>
                                            <td>
                                                <p class="primary-link">{{r.number}}</p>
                                            </td>
                                            <td>
                                                <div class="btn-group">
                                                    <ul style="list-style-type: none; padding:0; margin:0;" ng-repeat="u in r.users">
                                                        <li class="primary-link">
                                                            <a href="" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" ng-click="getUserStats(u.name)">
										{{u.nickname}} <span class="fa fa-angle-down">
										</span>
										</a>
                                                            <ul class="dropdown-menu pull-right" style="top:30;">
                                                                <li>
                                                                    <a style="color:blue;"><b>Rank:{{rank}} | Wins:{{gamesWon}}</b></a>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                    <ul style="list-style-type: none; padding:0; margin:0;" ng-if="!r.users">
                                                        <li class="primary-link">empty</li>
                                                    </ul>
                                                </div>
                                            </td>
                                            <td>
                                                <a ng-if="r.number < 2" href="{{'#/main/' + r.name}}" style="color:#33CC66" ng-click="joinIn(r.name)" class="primary-link">Join room</a>
                                                <a ng-if="r.number == 2" style="color:#B00000" class="primary-link"><b>Room full</b></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </div>
                    <!-- END PORTLET-->
                </div>
                <div class="col-md-6 col-sm-12">
                    <!-- BEGIN PORTLET-->
                    <div class="portlet light ">
                        <div class="portlet-title">
                            <div class="caption caption-md">
                                <i class="icon-bar-chart theme-font hide"></i>
                                <span class="caption-subject theme-font bold uppercase">Create room</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div>
                                <div class="subscribe-form">
                                    <form>
                                        <div class="input-group col-md-6">
                                            <input type="text" placeholder="Room name" class="form-control" ng-model="newRoomName">
                                            <span class="input-group-btn">
							                <button style="color:#33CC66" class="btn" type="submit" ng-click="createRoom()">Create</button>
							                </span>
                                        </div>
                                        <div class="input-group col-md-6" style="margin-top:10px;">
                                            <span style="color:#B00000" ng-if="roomExistsFlag && newRoomName == compareText">Name taken!</span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END PORTLET-->
                </div>
            </div>
            <!-- END PAGE CONTENT INNER -->
        </div>
    </div>
    <!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER -->
<!-- BEGIN FOOTER -->
<div class="page-footer">
    <div class="container">
        2015 &copy; Chess Master Pro. All Rights Reserved.
    </div>
</div>
<div class="scroll-to-top">
    <i class="icon-arrow-up"></i>
</div>