<div class="bnp_form col-lg-5 col-lg-offset-3 ">

    <label for="user" class="col-lg-6" style="text-align: right">Username</label>
    <div class="col-lg-6">
        <input type="text" class="col-lg-16" name="username" ng-model="credentials.username">
    </div>


    <label for="pass" class="col-lg-6" style="text-align: right" style="margin-top:2px">Password</label>
    <div class="col-lg-6" style="margin-top:2px">
        <input type="password" class="col-lg-16" name="password" id="password" ng-model="credentials.password">
    </div>

    <div class="col-lg-6 col-lg-offset-6" style="margin-top:10px">      
    <a href ng-click="logIn()">Log in</a>

    </div>

    <BR>
    <BR>
    <BR>
    <BR>
    <BR>
    <BR>
    <BR>

</div>
